<h1>Basis Ping Pong</h1>
		<div class="row">
			<div class="col-sm-offset-1 col-xs-12 col-sm-4">
				<h2>Standings & Results</h2>
				<table class="table">
					<caption>General Standings</caption>
					<tr>
						<th>Name</th>
						<th>Wins</th>
						<th>Losses</th>
					</tr>
					<!-- Insert actual poitions -->
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>  
				</table>


				<table class="table table-striped">
					<caption>Matches</caption>
					<tr>
						<th colspan="2">Player 1</th>
						<th colspan="2">Player 2</th>
						<th>Date</th>
					</tr>
				</table>
			</div>
		</div>